<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~lars/online/xg.bitpir.at/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~lars/online/xg.bitpir.at/index.php [L]
</IfModule>
